body .modal,
.gc-container .modal {
  overflow: unset !important;
}
body .page-item .page-number-input,
.gc-container .page-item .page-number-input {
  height: 38.76px;
  background-color: var(--gc-grid-background-color);
}
body header,
.gc-container header {
  z-index: 20;
  box-shadow: 0 4px 15px #00000055;
}
body header .logo,
.gc-container header .logo {
  width: 300px;
}
body header .logo img,
.gc-container header .logo img {
  width: 100%;
}
body header, body header ul,
.gc-container header,
.gc-container header ul {
  background-color: #232323;
}
body header li a, body header ul li a,
.gc-container header li a,
.gc-container header ul li a {
  transition: all .3s;
  color: #fff;
  border-right: 1px solid #111;
}
body header li a:hover, body header ul li a:hover,
.gc-container header li a:hover,
.gc-container header ul li a:hover {
  background-color: #111;
}

body {
  background-color: #333;
}

main h1 {
  margin: 15px 30px;
  color: #fafafa;
}
main > div:first-child {
  opacity: 0;
  transform: scale(0.95);
  width: 95%;
  min-height: 580px;
  margin: 25px auto 15px;
  padding: 15px;
  border: 2px solid #999;
  border-radius: 10px;
  box-shadow: 0 5px 20px #ffffff33;
  animation: fadeIn forwards .5s .5s;
}
main > div:first-child .gc-caption-title {
  font-size: 2rem;
  background-color: transparent;
  position: relative;
  padding: 10px;
  font-weight: 600;
}
main > div:first-child .gc-caption-title:after {
  content: '';
  position: absolute;
  height: 50px;
  width: 3px;
  top: 0;
  left: 0;
  background-color: #222;
}
main > div:first-child .gc-add-button-container a {
  border-radius: 0;
  background-color: #228B22;
  color: #fff;
  border-color: #228B22;
  transition: all .3s;
}
main > div:first-child .gc-add-button-container a:hover {
  background-color: #006900;
  border-color: #006900;
}

.btn-check:checked + .gc-container .btn-outline-dark, .btn-check:active + .gc-container .btn-outline-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.gc-container .btn-outline-dark:active, .gc-container .btn-outline-dark.active,
.gc-container .btn-outline-dark .dropdown-toggle.show {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

@media screen and (max-width: 769px) {
  header .menu-icon {
    position: absolute;
    right: 85px;
  }
  header .logo {
    max-width: 220px;
  }
  header .logo img {
    width: 100%;
  }
  header .menu-icon .navicon,
  header .menu-icon .navicon:after,
  header .menu-icon .navicon:before {
    background-color: #fff;
  }
}
@media screen and (max-width: 520px) {
  header .menu-icon {
    right: 15px;
  }

  .gc-filtering-row.even {
    background-color: #222;
  }

  .gc-header-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .gc-header-tools > div:first-child {
    width: 100%;
    text-align: right;
  }
}
@media screen and (max-width: 340px) {
  header .menu-icon {
    right: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
