.content.downloads {
  background-color: #fff;
}
.content.downloads * {
  color: #000;
}
.content.downloads .downloads__form-box {
  justify-content: flex-end;
}
.content.downloads .downloads__form-box > div {
  width: 450px;
  margin-right: 100px;
}
.content.downloads .downloads__form-box > div h1 {
  font-size: 2.3rem;
  position: relative;
}
.content.downloads .downloads__form-box > div h1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #777777;
}
.content.downloads .downloads__form-box > div h4 {
  font-size: 1.2rem;
  font-weight: 400;
}
.content.downloads .bg-download {
  background-position: center;
  background-image: url("../imgs/bg-download.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

@media screen and (max-width: 1199px) {
  #content.downloads .downloads__form-box {
    max-width: 100%;
  }
  #content.downloads .downloads__form-box div {
    margin: auto;
  }
  #content.downloads .bg-download {
    display: none;
  }
}
@media screen and (max-width: 512px) {
  #content.downloads .downloads__form-box div {
    width: 100%;
  }
  #content.downloads form input,
  #content.downloads form .fake-input {
    width: 90%;
    display: block;
    margin: auto;
  }
}
