#content.empreendimentos {
  background-color: #fff;
}
#content.empreendimentos * {
  color: var(--main-bg-color);
}
#content.empreendimentos .item a {
  display: flex;
  overflow: hidden;
  position: relative;
}
#content.empreendimentos .item a span {
  width: 80%;
  padding: 15px;
  margin: auto;
  background-color: #000000bb;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all .3s;
  opacity: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translate(-50%, 100%);
}
#content.empreendimentos .item a span img {
  transform: scale(0.85);
}
#content.empreendimentos .item a span p {
  color: #fff;
  transform: translateX(40px);
  position: relative;
  margin: .4em 0;
  font-size: 1.2rem;
  width: calc(100% - 50px);
}
#content.empreendimentos .item a span p:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40px, -50%);
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#content.empreendimentos .item a span p:not(:first-child):after {
  filter: brightness(0) contrast(100) invert(1);
}
#content.empreendimentos .item a span.info .info_logo {
  width: 100%;
}
#content.empreendimentos .item a span.info .info_nome {
  color: #aaa;
}
#content.empreendimentos .item a span.info .info_nome:after {
  background-image: url("../imgs/pin-icon.svg");
}
#content.empreendimentos .item a span.info .info_quartos:after {
  background-image: url("../imgs/quartos-icon.svg");
}
#content.empreendimentos .item a span.info .info_banheiros:after {
  background-image: url("../imgs/toilett-icon.svg");
}
#content.empreendimentos .item a span.info .info_garagens:after {
  background-image: url("../imgs/car-icon.svg");
}
#content.empreendimentos .item a span.info .info_statusObra:after {
  background-image: url("../imgs/bluePrint-icon.svg");
}
#content.empreendimentos .item a span.info .info_saibaMais:after {
  background-image: url("../imgs/nextArrow.svg");
  left: unset;
  right: 0;
}
#content.empreendimentos .item a:hover span {
  opacity: 1;
  transform: translate(-50%, 0);
}
#content.empreendimentos .item img {
  filter: brightness(50%) grayscale(100%);
  transition: all .3s;
}
#content.empreendimentos .item:hover img {
  filter: brightness(1) grayscale(0);
  box-shadow: 0 -15px 40px #00000044;
}

@media screen and (max-width: 415px) {
  #content.empreendimentos .container {
    margin: 0;
  }
  #content.empreendimentos .tab-content {
    overflow-x: scroll;
    padding-top: 30px;
  }
  #content.empreendimentos .tab-content > div {
    width: calc(81.5vw * 6);
    justify-content: space-evenly;
    display: -webkit-inline-box;
  }
  #content.empreendimentos .item {
    max-width: 70vw;
    margin: 0 2.5vw 0 2.5vw;
  }
  #content.empreendimentos .item:first-child {
    margin: 0 2.5vw 0 5vw;
  }
  #content.empreendimentos .item:last-child {
    margin: 0 5vw 0 2.5vw;
  }
  #content.empreendimentos .item img:hover {
    box-shadow: 0 -10px 20px #00000044;
  }
}
@media screen and (max-width: 330px) {
  #content.empreendimentos .tab-content > div {
    width: calc(82.5vw * 6);
  }
}
