.content .form {
  position: relative;
}
.content form {
  padding: 50px 0 100px;
  width: 100%;
}
.content form .formgroup, .content form .input-group {
  position: relative;
}
.content form .formgroup span.error, .content form .input-group span.error {
  position: absolute;
  color: red !important;
  right: 0;
  top: 0;
  font-size: .7rem;
  transform: translateY(100%);
}
.content form label {
  display: block;
  margin-left: 20px;
  font-style: italic;
  font-weight: 600;
  font-size: 1rem;
}
.content form .input-group {
  position: relative;
  margin-bottom: 20px;
}
.content form input,
.content form .fake-input,
.content form textarea {
  width: calc(450px - 30px);
}
.content form .fake-input {
  height: 23px;
}
.content form select {
  width: 450px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  position: relative;
}
.content form .dropdown-button {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #777777;
  position: absolute;
  right: 25px;
  bottom: -12px;
  border-radius: 50%;
  z-index: 2;
}
.content form .dropdown-button img {
  width: 12px;
  margin-top: 2px;
  margin-left: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .3s;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.content form .dropdown-button.active img {
  transform: translate(-50%, -65%) rotate(90deg);
}
.content form input,
.content form select,
.content form .fake-input,
.content form textarea {
  border: 1px solid #1c1c1c;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 30px;
  background-color: #fff;
  padding: 5px 15px;
  outline: none;
  transition: all .3s;
}
.content form input:focus, .content form input.active,
.content form select:focus,
.content form select.active,
.content form .fake-input:focus,
.content form .fake-input.active,
.content form textarea:focus,
.content form textarea.active {
  box-shadow: 0 15px 30px #00000055;
}
.content form select.aberto {
  position: relative;
}
.content form select.aberto option {
  position: absolute;
  width: 100%;
  background-color: #0a53be;
}
.content form textarea {
  resize: none;
}
.content form .fake-input.active {
  border-radius: 18px 18px 0 0;
}
.content form button {
  float: right;
  margin-top: 15px;
  color: #fff !important;
  padding: 12px 30px 10px;
  background-color: #111;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.content form button img {
  margin-left: 20px;
  width: 30px;
}
.content form .last-form-section {
  margin-top: 60px;
}
.content form .last-form-section span {
  padding: 10px 10px 10px 25px;
  width: calc(100% - 230px);
  font-size: .8rem;
  color: #777777 !important;
  line-height: 1.2;
}
.content form .last-form-section button {
  margin-top: 0;
  padding: 12px 60px 10px;
}

ul[id^="select-input-"] {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  z-index: -1;
}
ul[id^="select-input-"].active {
  opacity: 1;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  width: 100%;
  padding: 10px 0 5px 0;
  z-index: 1;
  bottom: 11px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 15px 20px #00000033;
}
ul[id^="select-input-"] li {
  cursor: pointer;
  padding: 5px 15px;
}
ul[id^="select-input-"] li:hover {
  background-color: #afafaf;
}

form.sucesso {
  transition: all .3s;
  overflow: hidden;
  animation: slideUp forwards .5s .3s;
}

.download-btn img {
  filter: invert(1);
}

.card {
  justify-content: center;
  min-height: 400px;
  align-items: center;
  display: none;
  opacity: 0;
  z-index: -1;
  width: 100%;
}
.card.show {
  display: flex;
  animation: fadeUp forwards 1s .2s;
}

@media screen and (max-width: 1025px) {
  form .fake-input, form input {
    width: calc(350px - 30px);
  }
}
@media screen and (max-width: 350px) {
  form input {
    width: calc(95% - 30px);
    display: block;
    margin: 10px auto;
  }
  form button {
    margin-right: 2.5%;
  }
}
@keyframes slideUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    padding: 0;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    opacity: 1;
    z-index: 2;
  }
}
