:root {
  --main-bg-color: #111;
  --second-bg-color: #282828;
  --third-bg-color: #1c1c1c;
  --fourth-bg-color: #000000;
  --main-color: #fff;
  --second-color: #2A2A2A;
  --third-color: #606060;
  --main-container-width: 1150px;
  --responsive-container-width: 950px;  
  --reduced-container-width: 798px;
}
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap');*/

*{
  color:var(--main-color);
  font-family: 'Poppins', sans-serif;
}
body{
  margin:0;
  padding: 0;
  background: var(--main-bg-color);
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
h1.title{
  font-size: 5rem;
  letter-spacing: 2px;
}
.scrollYLock{
  overflow-y: hidden;
}
.backToTop{
  cursor: pointer;
}
.closeMenu{
  cursor: pointer;
}
.dark{
  filter: invert(1);
}
.relative{
  position: relative;
}
.no-style{
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.v-divider{
  position: relative;
}
.v-divider:after,
.v-divider:before{
  content: "";
  height: 100%;
  width: 1px;
  top: 0;
  position: absolute;
  background-color: var(--second-color);
}
.v-divider:after{
  left: 0;
}
.v-divider:before{
  right: 0;
}
.container{
  max-width: var(--main-container-width);
  margin: auto;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.w-100{
  max-width: 100%;
  width: 100%;
}
.w-50{
  max-width: 50%;
  width: 100%;
}
.w-40{
  max-width: 40%;
  width: 100%;
}
.w-30{
  max-width: 30%;
  width: 100%;
}
.w-25{
  max-width: 25%;
  width: 100%;
}
.pv-1{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.pv-2{
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.pv-3{
  padding-top: 30px!important;
  padding-bottom: 30px!important;
}
.ph-1{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.ph-2{
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.ph-3{
  padding-left: 30px!important;
  padding-right: 30px!important;
}
.mv-1{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
.mv-2{
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}
.mv-3{
  margin-top: 30px!important;
  margin-bottom: 30px!important;
}
.mh-1{
  margin-left: 10px!important;
  margin-right: 10px!important;
}
.mh-2{
  margin-left: 20px!important;
  margin-right: 20px!important;
}
.mh-3{
  margin-left: 30px!important;
  margin-right: 30px!important;
}
.text-center{
  text-align: center;
}
.thin{
  font-weight: 300;
}
a {
  text-decoration: none;
}
header{
  top: 0;
  left: 50%;
  z-index: 2;
  width: 100.1%;
  margin: auto;
  padding:65px 0;
  position: fixed;
  transform: translateX(-50%);
  transition: all .3s;
  z-index:10 ;
}
header.bg-opaco{
  padding:35px 0;
  background-color: var(--third-bg-color);
}

header .mutantMenu{
  justify-content: space-between;
  margin: auto;
}
header .mutantMenu>div{
  padding:0 15px;
}
header .mutantMenu .hamburguerMenu{
  border: 2px solid #333333aa;
  border-radius: 2px;
  padding:15px 5px;
  color:var(--main-color);
  width: 60px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
header .mutantMenu .hamburguerMenu ul{
  width: 100%;
  padding: 0;
  margin:0;
  list-style: none;
}
header .mutantMenu .hamburguerMenu ul li{
  width: 60%;
  height: 3px;
  border-radius: 6px;
  display: block;
  margin: 4px auto;
  background-color: var(--main-color);
}
header .mutantMenu .hamburguerMenu span{
    display: block;
    margin: 10px 0 0;
}

header .mutantMenu .contact{
  display: flex;
  align-items: center;
    width: 190px;
}
header .mutantMenu .contact img{
  width: 32px;
}
header .mutantMenu .contact .contact__text-number{
    width: 80%;
    color:#fff;
}
header .mutantMenu .contact .contact__text-number h4{
  margin: 0 0 0 5px;
}

header .mutantMenu .social{
  justify-content: space-between;
}
header .mutantMenu .social a{
  margin: 0 12px;
}
header .mutantMenu .social img{
  width: 32px;
}

header .mutantMenu .central a{
  border: 1px solid #333;
  border-radius: 100px;
  text-align: center;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  transition: all .3s;
  background-color: #000000bb;
}
header.bg-opaco .mutantMenu .central a{
  background-color: var(--fourth-bg-color);
}
header .mutantMenu .central h4,
header .mutantMenu .central h5{
  margin: 0;
  color: #FFF;
}

header .mutantMenu .search img{
  width: 32px
}
nav{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background:var(--third-bg-color);
  z-index: 0;
  opacity: 0;
  transition: opacity .3s;
  z-index: -1;
}
nav.actived{
 opacity: 1;
 z-index: 10;
}

nav span{
  position: absolute;
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  background-image: url(../imgs/close-dark.svg);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform .5s;
}
nav span:hover{
  transform: rotate(180deg);
}
nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav ul li{
  padding: 25px;
  font-size: 30px;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
}
nav ul li:hover{
  transform: scale(1.3);
}

#title-page{
  background-image: url('../imgs/sobre/bg-title.png');
  background-size: cover;
  background-position: center;
}

footer{
  background-color: var(--fourth-bg-color);
  padding: 60px 0 0;
}
footer > div:first-child{
  border-bottom: 1px solid #2a2a2a;
}
footer > div .destaque{
  color: var(--third-color);
}
footer .linha-1{
  padding: 50px 0;
}
footer .linha-1 p{
  font-weight:700 ;
}
footer .linha-1 h4{
  font-size: 35px;
  margin: 20px 0 0;
}
footer .linha-1 .logo img{
  filter: brightness(0.2);
}
footer .linha-1 .logo p{
  width: fit-content;
  width: -moz-fit-content;
  margin: 20px auto;
}
footer .linha-1 .btt{
  width: 13px;
  transform: rotate(90deg)translateY(-150%);
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .linha-1 .redes .d-flex,
footer .linha-2 .d-flex{
  justify-content: space-evenly;
}
footer .linha-1 .redes img{
  width: 32px;
}
footer .linha-2{
  padding: 40px 0;
}
footer .linha-2 .container > div:first-child p,
footer .linha-2 .container > div:last-child p{
  font-weight: 700;
  margin: 12px 0;
}
footer .linha-2 ul li{
  padding: 5px 0;
}
footer .linha-2 ul li a{
  color: var(--third-color);
  font-weight: 700;
  transition: all .3s;
}
footer .linha-2 ul li a:hover{
 color: var(--main-color); 
}
footer .linha-3{
  background-color:var(--third-bg-color);
  padding: 12px 0;
}
footer .linha-3 div{
  font-size: 13px;
}
footer .linha-3>.d-flex{
  justify-content: space-between;
}
footer .linha-3 a.destaque{
  color: var(--third-color);
  transition: all .3s;
  display: inline-block;
  font-weight: 700;
}
footer .linha-3 a.destaque:hover{
  color: var(--main-color);
}

@media screen and (max-width:1366px){
  header{
    padding: 45px 0;
  }
  header.bg-opaco{
    padding: 15px 0;
  }
  header .logo img{
    width: 130px;
  }
  header .mutantMenu .hamburguerMenu{
   padding: 10px 0; 
  }
  header .mutantMenu .hamburguerMenu span{
    font-size: 13px;
  }
  nav ul li{
    padding: 15px 0;
  }
}
@media screen and (max-width:1200px){
  .container{
    max-width: var(--responsive-container-width);
    margin: auto;
  }
  header {
    padding: 25px 0;
  }
  header.bg-opaco{
    padding: 10px 0;
  }
}
@media screen and (max-width:1024px){
  footer .linha-1 .logo img{
    margin: auto;
  }
}
@media screen and (max-width:991px){

  .container{
    margin: 0 25px;
  }
  header .mutantMenu{
    margin: 0 25px;
  }
  header .mutantMenu .contact,
  header .mutantMenu .social,
  header .mutantMenu .central{
    display: none;
  }

  footer .linha-1 .container div,
  footer .linha-2 .container > div{
    max-width: 60%;
    margin: 25px auto;
  }
  footer .linha-1 .logo{
    order: 1;
  }
  footer .linha-1 .container>div:first-child{
    order: 2;
  }
  footer .linha-1 .redes{
    order: 3;
  }
  footer .linha-2 div ul{
    padding: 30px 0;
  }
  .v-divider:after, .v-divider:before{
    height: 1px;
    width: 100%;
    left: 0;
  }
  .v-divider:after{
    top: unset;
    bottom: 0;
  }
}
@media screen and (max-width: 767px){
  header .mutantMenu{
    padding: 0 20px;
  }
  header .mutantMenu .hamburguerMenu{
    width: 14%;
    padding: 5px 0;
  }
  header .mutantMenu .hamburguerMenu span {
    font-size: 3.5vw;
    margin: 3px 0 0;
  }
  header .mutantMenu .hamburguerMenu ul li{
      height: 3px;
      margin: 4px auto;
  }
  header .logo img {
    width: 100px;
  }
  nav ul li{
    font-size: 4vw!important;
  }

  footer .linha-1 p,
  footer .linha-2 .container > div:first-child p,
  footer .linha-2 .container > div:last-child p,
  footer .linha-2 ul li a,
  footer .linha-3 .container > div,
  footer .linha-3 a.destaque
  {
    font-size: 3.5vw;
  }
  footer .linha-1 .logo>img{
    width: 80%;
  }
}
@media screen and (max-width: 592px){
  #title-page h1.title{
    font-size: 4rem;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 520px){
  #title-page h1.title{
    font-size: 9vw;
    margin-top: 1.2em;
  }
  footer .linha-1{
    padding-top: 0;
  }
  footer .linha-1 .container div{
    max-width: 80%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 325px){
  header .mutantMenu{
    margin: 0 5px;
  }
  footer .linha-1 h4{
    font-size: 30px;
  }
}