section:first-child {
  overflow: hidden;
}
section:first-child .slide-projeto {
  min-height: 550px;
  background-position: center;
  background-size: cover;
}
section:first-child .slider-1__only-dots .slick-dots {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -100px);
}
section:first-child .slider-1__only-dots .slick-dots li {
  margin: 0 5px;
}
section:first-child .slider-1__only-dots .slick-dots button {
  color: transparent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #6a6a6a;
  font-size: 0;
  border: 0;
  padding: 0;
  transition: all .3s;
}
section:first-child .slider-1__only-dots .slick-dots .slick-active button {
  background-color: #acacac;
}
section:not(:first-child) {
  padding: 50px 0;
  background-color: #FFF;
}
section:not(:first-child):not(#newsletter) h1, section:not(:first-child):not(#newsletter) h2, section:not(:first-child):not(#newsletter) h3, section:not(:first-child):not(#newsletter) h4, section:not(:first-child):not(#newsletter) h5, section:not(:first-child):not(#newsletter) h6, section:not(:first-child):not(#newsletter) span, section:not(:first-child):not(#newsletter) p, section:not(:first-child):not(#newsletter) div {
  color: #000 !important;
}
section:not(:first-child):not(#newsletter).bg-dark {
  background-color: #000;
}
section:not(:first-child):not(#newsletter).bg-dark h1, section:not(:first-child):not(#newsletter).bg-dark h2, section:not(:first-child):not(#newsletter).bg-dark h3, section:not(:first-child):not(#newsletter).bg-dark h4, section:not(:first-child):not(#newsletter).bg-dark h5, section:not(:first-child):not(#newsletter).bg-dark h6, section:not(:first-child):not(#newsletter).bg-dark span, section:not(:first-child):not(#newsletter).bg-dark p, section:not(:first-child):not(#newsletter).bg-dark div {
  color: #FFF !important;
}
section#desc .title-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);
}
section#desc .title-section .logo {
  background-color: #000;
  padding: 55px 20px;
  border-radius: 60px;
  z-index: 1;
  box-shadow: 0 7px 15px #777777cc;
}
section#desc .title-section .logo img {
  width: 160px;
}
section#desc .title-section .titulo-box .nome {
  background: #fff;
  padding: 20px 40px 40px 60px;
  border: 1px solid #acacac;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  margin-left: -25px;
  z-index: 0;
}
section#desc .title-section .titulo-box .nome h1 {
  margin: 0;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
}
section#desc .title-section .titulo-box .endereco {
  position: absolute;
  color: #666666 !important;
  font-weight: 500;
  margin: 16px 0 20px 60px;
}
section#desc .title-section .titulo-box .endereco:after {
  content: '';
  width: 12px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-200%, -50%);
  background-image: url("../imgs/pin-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
section#desc .descricao-box {
  padding: 100px 0 50px;
}

section:not(.bg-dark, .bg-white) .titulo {
  position: relative;
}
section:not(.bg-dark, .bg-white) .titulo *:after {
  content: '';
  width: 75px;
  height: 3px;
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #6a6a6a;
}

.titulo h2 {
  font-size: 2rem;
}

.descricao {
  padding-top: 30px;
}
.descricao p {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .5px;
}
.descricao-box ul {
  padding: 0;
}
.descricao-box ul li {
  width: 26%;
  margin: 2%;
  padding: 7px;
  border-radius: 30px;
  border: 1px solid #aaaaaa;
  height: 110px;
  transition: all .3s;
}
.descricao-box ul li:hover {
  border: 1px solid transparent;
  box-shadow: 0 10px 20px #aaaaaa;
}
