#content .historia {
  background-image: url("../imgs/sobre/bg-tabs.png");
  background-size: cover;
  background-position: center;
}
#content .historia * {
  color: var(--main-bg-color);
}
#content .logos div:not(:last-child) {
  width: 15%;
  padding: 40px 20px;
}
#content .logos div:not(:last-child) img {
  filter: brightness(0.5);
  width: 100%;
}

@media screen and (max-width: 768px) {
  #content .logos div:not(:last-child) {
    width: 25%;
  }
}
@media screen and (max-width: 520px) {
  #content .logos div:not(:last-child) {
    width: 41%;
    padding: 20px;
  }
}
