section{
  &#title-page{
    background-image: url("../imgs/blog/bg-blog.png");
    background-position: bottom center;
    h1{
      font-size: 2.5rem;
      font-weight: 600;
      margin: 10rem 0;
    }
  }
  &#blog-box{
    background: #fff;
    *{
      color:#111;
    }
    .filtros_e_buscas{
      padding: 40px 0;
      justify-content: space-between;
      width: 100%;
      div{
        width: 50%;
      }
      #searchPost{
        input{
          margin-right: 60px;
          border: 0;
          outline: none;
          border-bottom: 1px solid #000;
          width: calc(100% - 80px);
          font-size: .9rem;
          padding: 15px 10px;
          color: #FFF;
        }
        button{
          width: 40px;
          height: 40px;
          border: 0;
          outline: none;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          img{
            width: 16px;
          }
        }
      }
    }
    .conteudo{
      justify-content: space-between;
      .img-post2 {
        height: 250px;
        overflow: hidden;
      }
      .post-destaque{
        width: 100%;
        border-radius: 70px;
        overflow: hidden;
        margin-bottom: 40px;
        box-shadow: 0 10px 20px #00000033;
        .img-post {
          overflow: hidden;
          height: 350px;
          img{
            transform: scale(1.2);
          }
        }
        .post-descricao{
          padding: 40px;
          &__info{
            justify-content: space-between;
          }
          &__content{
            h3{
              font-weight: 600;
              position: relative;
              &:after{
                content: "";
                position: absolute;
                left: -10px;
                top: 0;
                height: 80%;
                width: 3px;
                background-color: #555;
              }
            }
            p{
              margin: 0;
              line-height: 1.5;
            }
          }
        }
      }
      .post{
        margin: 20px 0;
        width: 47%;
        img{
          transition: all .3s;
          width: 100%;
          border-radius: 45px;
          filter: grayscale(1);
        }
        &:hover img{
          filter: grayscale(0);
          box-shadow: 0 5px 20px #00000055;
        }
      }
      .truncate {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .leia-mais{
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        margin-top: 40px;
        padding: 15px 45px 15px 15px;
        border-radius: 10px;
        transition: all .3s;
        &:after{
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-100%, -50%);
          width:14px;
          transition: all .3s;
          height: 14px;
          background-image: url("../imgs/nextArrow.svg");
          filter: brightness(30%);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        &:hover{
          background-color: #111;
          color:#fff;
          &:after{
            filter: brightness(30%)invert(1);
          }
        }
      }
    }

  }
}
@media screen and (max-width: 1201px){
  section{
    &#blog-box{
      .conteudo{
        .post-destaque{
          .img-post{
            height: 365px;
            img{
              transform: scale(1.4);
              min-height: 100%;
              width: unset;
              max-width: unset;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1025px){
  section#blog-box{
    .container{
      margin: 0 10px;
    }
    .filtros_e_buscas {
      div {
        width: 100%;
        span{
          display: block;
          text-align: center;
        }
      }
    }
    .conteudo{
      .img-post2 {
        height: 150px;
      }
      .post-destaque{
        &>div{
          &:first-child{
            max-width: 30%;
            &.img-post {
              height: 250px;
              img{
                transform: scale(2.4);
              }
            }
          }
          &:nth-child(2){
            max-width: 70%;
            .post-descricao{
              padding: 15px;
              &__content{
                .leia-mais{
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  section#blog-box{
    .conteudo{
      .post-destaque{
        &>div{
          &:first-child{
            max-width: 100%;
            &.img-post{
              min-height: unset;
              img{
                transform: scale(1);
              }
            }
          }
          &:nth-child(2){
            max-width: 100%;
            .post-descricao{
              padding: 10px 25px;
              &__info{
                span{
                  font-size: .8rem;
                }
              }
              &__content{
                h3{
                  font-size: 1.3rem;
                }
                p{
                  font-size: .8rem;
                }
              }
            }
          }
        }
      }
      .post {
        margin: 20px auto;
        width: 97%;
      }
    }
  }
}
