.pagination{
  padding: 50px;
  .prev,.next{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #555;
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
  }
  .prev{
    background-image: url("../imgs/prevArrow.svg");
  }
  &Itens{
    a{
      transition: all .3s;
      text-align: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0 5px;
      line-height: 2;
      &:hover,
      &.active{
        background-color: #111;
        color:#fff!important;
      }
    }
  }
  .next{
    background-image: url("../imgs/nextArrow.svg");
    background-position: 55% center;
  }
}


@media screen and (max-width: 769px){
  section{
    .pagination{
      padding: 50px 0;
      &Itens{
        a{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}