section {
  .tabs-container {
    .tab{
      margin: 15px 25px;
      padding: 15px 15px;
      text-align: center;
      width: auto;
      color: #FFF;
      background-color: #000;
      border-radius: 100px;
      font-weight: 500;
      cursor: pointer;
      transition: all .3s;
      a {
        color: #FFF !important;
      }
      &:not(.active):hover{
        box-shadow: 0 5px 10px #00000077;
        background-color: #333;
      }
      &.active {
        color: #000;
        background-color: #E3E3E3;
        box-shadow: 0 10px 20px #00000077;
        a {
          color: #000 !important;
        }
      }
    }
  }
  div{
    &.tab-content{
      &:not(.active){
        position: absolute;
        opacity: 0;
        transition: opacity .5s;
        z-index: -1;
      }
    }
  }
}
